<p>
  <%= dgettext(
    "auth",
    "You need to be, at least, 13 years old to use Zoonk. If you entered the wrong birth date on sign up, then send an email to support@zoonk.org with your ID Card."
  ) %>
</p>
