<!DOCTYPE html>
<html lang={Plug.Conn.get_session(@conn, :language)}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <.live_title suffix=" · Zoonk">
      <%= assigns[:page_title] %>
    </.live_title>

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <header class="flex items-center justify-between p-4 sm:px-6 lg:px-8">
      <.link navigate={if @current_user, do: ~p"/", else: "https://zoonk.org"}>
        Zoonk
      </.link>

      <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
        <%= if @current_user do %>
          <li class="text-[0.8125rem] leading-6 text-gray-dark">
            <%= @current_user.first_name %> <%= @current_user.last_name %> - <%= @current_user.email %> (@<%= @current_user.username %>)
          </li>

          <li>
            <.link
              href={~p"/users/settings"}
              class="text-[0.8125rem] leading-6 text-gray-dark font-semibold hover:text-gray-dark"
            >
              <%= dgettext("auth", "Settings") %>
            </.link>
          </li>

          <li>
            <.link
              href={~p"/users/log_out"}
              method="delete"
              class="text-[0.8125rem] leading-6 text-gray-dark font-semibold hover:text-gray-dark"
            >
              <%= dgettext("auth", "Log out") %>
            </.link>
          </li>
        <% else %>
          <li>
            <.link
              href={~p"/users/register"}
              class="text-[0.8125rem] leading-6 text-gray-dark font-semibold hover:text-gray-dark"
            >
              <%= dgettext("auth", "Register") %>
            </.link>
          </li>

          <li>
            <.link
              href={~p"/users/log_in"}
              class="text-[0.8125rem] leading-6 text-gray-dark font-semibold hover:text-gray-dark"
            >
              <%= dgettext("auth", "Log in") %>
            </.link>
          </li>
        <% end %>
      </ul>
    </header>

    <%= @inner_content %>
  </body>
</html>
