<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.435450998434-he7jugpaqj7c66im3hf5sdlkgtgpgjej</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>435450998434-he7jugpaqj7c66im3hf5sdlkgtgpgjej.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>435450998434-jhj2skfq5b089dkjrth5dvo1bhujfp3h.apps.googleusercontent.com</string>
#if ZOONK_DEBUG_ALLOW_INSECURE_HTTP
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
#endif
	<key>ZoonkAPIBaseURL</key>
	<string>$(ZOONK_API_BASE_URL)</string>
</dict>
</plist>
