<main aria-labelledby="page-title">
  <div>
    <header>
      <.a kind={:button} navigate={~p"/"} size={:sm} variant={:outline}>
        Back to app
      </.a>

      <.text aria-hidden="true" tag="h1" size={:header} variant={:secondary} id="page-title">
        {@page_title}
      </.text>
    </header>
  </div>

  <nav>
    <ul>
      <li :for={item <- menu_items()}>
        <.link navigate={item.path}>
          <.icon name={item.icon} />
          <span>
            {item.label}
          </span>
        </.link>
      </li>
    </ul>
  </nav>

  <section>
    {@inner_content}
  </section>
</main>

<.flash_group flash={@flash} />
