<main aria-labelledby="page-title">
  <div class="bg-zk-surface/70 border-zk-border sticky top-0 z-50 border-b backdrop-blur-md">
    <header class="mx-auto flex items-center justify-between gap-4 p-4 md:p-6">
      <.a kind={:button} navigate={~p"/"} size={:sm} variant={:outline}>
        Back to app
      </.a>

      <.text
        aria-hidden="true"
        tag="h1"
        size={:header}
        variant={:secondary}
        class="truncate"
        id="page-title"
      >
        {@page_title}
      </.text>
    </header>
  </div>

  <nav class="bg-zk-background/70 sticky top-16 z-10 w-full backdrop-blur-md md:top-20">
    <ul class="scrollbar-none mx-auto flex items-center gap-2 overflow-x-auto p-4 md:p-6">
      <li
        :for={item <- menu_items()}
        class={[
          "shadow-xs rounded-lg px-2 py-1.5 leading-none tracking-tight",
          @active_page == item.module && "bg-zk-primary shadow-zk-primary",
          @active_page != item.module && "bg-zk-surface"
        ]}
      >
        <.link
          navigate={item.path}
          class={[
            "inline-flex items-center gap-1 align-middle",
            @active_page == item.module && "text-zk-primary-foreground"
          ]}
        >
          <.icon name={item.icon} class={["size-4", @active_page != item.module && item.color]} />
          <span class={["text-xs", @active_page != item.module && "text-zk-surface-foreground"]}>
            {item.label}
          </span>
        </.link>
      </li>
    </ul>
  </nav>

  <section class="mx-auto px-4 pb-4 md:px-6 md:pb-6">
    {@inner_content}
  </section>
</main>

<.flash_group flash={@flash} />
