# Authentication secret for better-auth
# You can generate a random secret using a command like:
# openssl rand -hex 32
# You can also click the "Generate Secret" button from the better-auth docs:
# https://www.better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET=

# Database connection URL for Prisma
DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/zoonk

# Direct database connection URL for Prisma Migrate
DATABASE_URL_UNPOOLED=

# This app's domain (eg localhost:3000, zoonk.com)
NEXT_PUBLIC_APP_DOMAIN=localhost:3000

# Centralized API App URL
NEXT_PUBLIC_API_URL=http://localhost:4000

### OPTIONAL VARIABLES ###

# Cookie domain for cross-subdomain auth (production only)
# Set to your root domain (e.g., zoonk.com) to share sessions across subdomains
BETTER_AUTH_COOKIE_DOMAIN=

# Mailer API key for email services
MAILER_API_KEY=

# Stripe API keys
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Vercel Blob
BLOB_READ_WRITE_TOKEN=

# AI Services
AI_GATEWAY_API_KEY=
OPENAI_API_KEY=

# AI Tasks, choose what models you'll use for each task
AI_MODEL_COURSE_SUGGESTIONS=
