@import "tailwindcss" source(none);

@source "../css";
@source "../js";
@source "../../lib/zoonk_web";
@source "../../lib/zoonk_dev";

@plugin "@tailwindcss/forms";
@plugin "./tailwind_tabler.js";

@custom-variant phx-click-loading ([".phx-click-loading&", ".phx-click-loading &"]);
@custom-variant phx-submit-loading ([".phx-submit-loading&", ".phx-submit-loading &"]);
@custom-variant phx-change-loading ([".phx-change-loading&", ".phx-change-loading &"]);

:root {
  --background: var(--color-neutral-100);
  --foreground: var(--color-neutral-500);

  --primary: var(--color-blue-50);
  --primary-foreground: var(--color-blue-600);

  --primary-accent: var(--color-blue-50);
  --primary-accent-foreground: var(--color-blue-700);

  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-neutral-600);

  --secondary-accent: var(--color-neutral-200);
  --secondary-accent-foreground: var(--color-neutral-700);

  --card: var(--color-white);
  --card-foreground: var(--color-neutral-500);

  --muted: var(--color-neutral-50);
  --muted-foreground: var(--color-gray-500);

  --success: var(--color-green-50);
  --success-foreground: var(--color-green-700);

  --success-accent: var(--color-green-50);
  --success-accent-foreground: var(--color-green-800);

  --destructive: var(--color-pink-50);
  --destructive-foreground: var(--color-pink-700);

  --destructive-accent: var(--color-pink-50);
  --destructive-accent-foreground: var(--color-pink-800);

  --border: var(--color-neutral-200);
  --ring: var(--color-neutral-400);

  --tabler-stroke-width: 2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-neutral-950);
    --foreground: var(--color-neutral-400);

    --primary: var(--color-blue-600);
    --primary-foreground: var(--color-blue-50);

    --primary-accent: var(--color-blue-700);
    --primary-accent-foreground: var(--color-blue-50);

    --secondary: var(--color-neutral-800);
    --secondary-foreground: var(--color-neutral-300);

    --secondary-accent: var(--color-neutral-700);
    --secondary-accent-foreground: var(--color-neutral-200);

    --card: var(--color-neutral-900);
    --card-foreground: var(--color-neutral-400);

    --muted: var(--color-neutral-950);
    --muted-foreground: var(--color-neutral-400);

    --success: var(--color-green-700);
    --success-foreground: var(--color-green-50);

    --success-accent: var(--color-green-800);
    --success-accent-foreground: var(--color-green-50);

    --destructive: var(--color-pink-700);
    --destructive-foreground: var(--color-pink-50);

    --destructive-accent: var(--color-pink-800);
    --destructive-accent-foreground: var(--color-pink-50);

    --border: var(--color-neutral-700);
    --ring: var(--color-neutral-600);
  }
}

@media (prefers-contrast: more) and (prefers-color-scheme: light) {
  :root {
    --background: var(--color-white);
    --foreground: var(--color-black);

    --primary: var(--color-blue-50);
    --primary-foreground: var(--color-blue-800);

    --primary-accent: var(--color-blue-50);
    --primary-accent-foreground: var(--color-blue-950);

    --secondary: var(--color-neutral-200);
    --secondary-foreground: var(--color-neutral-950);

    --secondary-accent: var(--color-neutral-300);
    --secondary-accent-foreground: var(--color-neutral-900);

    --card: var(--color-white);
    --card-foreground: var(--color-black);

    --muted: var(--color-white);
    --muted-foreground: var(--color-black);

    --success: var(--color-green-50);
    --success-foreground: var(--color-green-800);

    --success-accent: var(--color-green-50);
    --success-accent-foreground: var(--color-green-950);

    --destructive: var(--color-pink-50);
    --destructive-foreground: var(--color-pink-800);

    --destructive-accent: var(--color-pink-50);
    --destructive-accent-foreground: var(--color-pink-950);

    --border: var(--color-neutral-900);
    --ring: var(--color-black);
  }
}

@media (prefers-contrast: more) and (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-black);
    --foreground: var(--color-white);

    --primary: var(--color-blue-800);
    --primary-foreground: var(--color-white);

    --primary-accent: var(--color-blue-950);
    --primary-accent-foreground: var(--color-white);

    --secondary: var(--color-neutral-950);
    --secondary-foreground: var(--color-neutral-200);

    --secondary-accent: var(--color-neutral-900);
    --secondary-accent-foreground: var(--color-neutral-100);

    --card: var(--color-neutral-900);
    --card-foreground: var(--color-white);

    --muted: var(--color-black);
    --muted-foreground: var(--color-white);

    --success: var(--color-green-800);
    --success-foreground: var(--color-green-50);

    --success-accent: var(--color-green-950);
    --success-accent-foreground: var(--color-green-50);

    --destructive: var(--color-pink-800);
    --destructive-foreground: var(--color-pink-50);

    --destructive-accent: var(--color-pink-950);
    --destructive-accent-foreground: var(--color-pink-50);

    --border: var(--color-neutral-100);
    --ring: var(--color-white);
  }
}

@theme {
  --color-zk-background: var(--background);
  --color-zk-foreground: var(--foreground);

  --color-zk-primary: var(--primary);
  --color-zk-primary-foreground: var(--primary-foreground);

  --color-zk-primary-accent: var(--primary-accent);
  --color-zk-primary-accent-foreground: var(--primary-accent-foreground);

  --color-zk-secondary: var(--secondary);
  --color-zk-secondary-foreground: var(--secondary-foreground);

  --color-zk-secondary-accent: var(--secondary-accent);
  --color-zk-secondary-accent-foreground: var(--secondary-accent-foreground);

  --color-zk-card: var(--card);
  --color-zk-card-foreground: var(--card-foreground);

  --color-zk-muted: var(--muted);
  --color-zk-muted-foreground: var(--muted-foreground);

  --color-zk-success: var(--success);
  --color-zk-success-foreground: var(--success-foreground);

  --color-zk-success-accent: var(--success-accent);
  --color-zk-success-accent-foreground: var(--success-accent-foreground);

  --color-zk-destructive: var(--destructive);
  --color-zk-destructive-foreground: var(--destructive-foreground);

  --color-zk-destructive-accent: var(--destructive-accent);
  --color-zk-destructive-accent-foreground: var(
    --destructive-accent-foreground
  );

  --color-zk-border: var(--border);
  --color-zk-ring: var(--ring);

  --radius: var(--radius-lg);
}

@utility zk-btn {
  @apply whitespace-nowrap rounded ring
  inline-flex items-center justify-center gap-2
  text-sm font-medium transition-colors
  focus-visible:outline-none focus-visible:ring-1
  disabled:pointer-events-none disabled:opacity-50;
}

@utility zk-btn-sm {
  @apply h-8 px-4;
}

@utility zk-btn-md {
  @apply h-10 px-8;
}

@utility zk-btn-lg {
  @apply h-12 px-10;
}

@utility zk-btn-primary {
  @apply bg-zk-primary text-zk-primary-foreground ring-zk-primary-accent-foreground
  hover:bg-zk-primary-100
  focus-visible:ring-zk-primary
  dark:text-zk-primary-50
  dark:bg-zk-primary dark:hover:bg-zk-primary-700
  dark:ring-zk-primary
  dark:focus-visible:ring-zk-primary
  contrast-more:text-zk-primary-900 contrast-more:bg-zk-primary-100
  contrast-more:focus-visible:ring-zk-primary-900
  dark:contrast-more:bg-zk-primary-900 dark:contrast-more:ring-zk-primary-900;
}

@utility zk-btn-danger {
  @apply bg-zk-danger-50 text-zk-danger-600 ring-zk-danger-50
  hover:bg-zk-danger-100
  focus-visible:ring-zk-danger-500
  dark:text-zk-danger-50
  dark:bg-zk-danger-600 dark:hover:bg-zk-danger-700
  dark:ring-zk-danger-600
  dark:focus-visible:ring-zk-danger-600
  contrast-more:text-zk-danger-900 contrast-more:bg-zk-danger-100
  contrast-more:focus-visible:ring-zk-danger-900
  dark:contrast-more:bg-zk-danger-900 dark:contrast-more:ring-zk-danger-900;
}

@utility zk-btn-outline {
  @apply ring-zk-border text-zk-text-secondary bg-zk-surface
  hover:text-zk-text-primary hover:bg-zk-surface-hover
  focus-visible:ring-zk-border-focus
  dark:bg-zk-surface-inverse dark:text-zk-text-inverse-secondary dark:ring-zk-border-inverse
  dark:hover:bg-zk-surface-inverse-hover dark:hover:text-zk-text-inverse
  contrast-more:text-zk-text-primary
  dark:contrast-more:text-zk-text-inverse
  dark:contrast-more:ring-zk-border;
}
