@import "tailwindcss" source("../..");

@variant phx-click-loading ([".phx-click-loading&", ".phx-click-loading &"]);
@variant phx-submit-loading ([".phx-submit-loading&", ".phx-submit-loading &"]);
@variant phx-change-loading ([".phx-change-loading&", ".phx-change-loading &"]);

@plugin "./tailwind_tabler.js";
@plugin "@tailwindcss/forms";

@theme {
  --color-zk-bg-light: var(--color-neutral-50);
  --color-zk-bg-dark: var(--color-neutral-900);

  --color-zk-primary: var(--color-blue-600);
  --color-zk-primary-50: var(--color-blue-50);
  --color-zk-primary-100: var(--color-blue-100);
  --color-zk-primary-200: var(--color-blue-200);
  --color-zk-primary-300: var(--color-blue-300);
  --color-zk-primary-400: var(--color-blue-400);
  --color-zk-primary-500: var(--color-blue-500);
  --color-zk-primary-600: var(--color-blue-600);
  --color-zk-primary-700: var(--color-blue-700);
  --color-zk-primary-800: var(--color-blue-800);
  --color-zk-primary-900: var(--color-blue-900);

  --color-zk-danger-50: var(--color-pink-50);
  --color-zk-danger-100: var(--color-pink-100);
  --color-zk-danger-200: var(--color-pink-200);
  --color-zk-danger-300: var(--color-pink-300);
  --color-zk-danger-400: var(--color-pink-400);
  --color-zk-danger-500: var(--color-pink-500);
  --color-zk-danger-600: var(--color-pink-600);
  --color-zk-danger-700: var(--color-pink-700);
  --color-zk-danger-800: var(--color-pink-800);
  --color-zk-danger-900: var(--color-pink-900);

  --color-zk-surface: var(--color-white);
  --color-zk-surface-hover: var(--color-neutral-50);
  --color-zk-surface-inverse: var(--color-neutral-900);
  --color-zk-surface-inverse-hover: var(--color-neutral-800);

  --color-zk-border: var(--color-neutral-200);
  --color-zk-border-focus: var(--color-neutral-500);
  --color-zk-border-inverse: var(--color-neutral-700);

  --color-zk-text-primary: var(--color-neutral-700);
  --color-zk-text-secondary: var(--color-neutral-500);
  --color-zk-text-inverse: var(--color-neutral-200);
  --color-zk-text-inverse-secondary: var(--color-neutral-300);
  --color-zk-text-inverse-contrast: var(--color-neutral-50);
  --color-zk-text-contrast: var(--color-neutral-900);

  --color-zk-link: var(--color-zk-primary);
  --color-zk-link-hover: var(--color-zk-primary-800);
  --color-zk-link-active: var(--color-zk-primary-900);
  --color-zk-link-inverse: var(--color-zk-primary-400);
  --color-zk-link-inverse-hover: var(--color-zk-primary-50);
}

@utility zk-container {
  @apply mx-auto max-w-3xl px-4 sm:px-6 md:px-8 lg:px-10 xl:px-12 2xl:px-14;
}

@utility zk-bg {
  @apply bg-zk-bg-light dark:bg-zk-bg-dark;
}

@utility zk-surface {
  @apply bg-zk-surface dark:bg-zk-surface-inverse
  hover:bg-zk-surface-hover dark:hover:bg-zk-surface-inverse-hover
  focus-visible:bg-zk-surface-hover dark:focus-visible:bg-zk-surface-inverse-hover
  focus-visible:outline-none;
}

@utility zk-border {
  @apply border-zk-border dark:border-zk-border-inverse;
}

@utility zk-btn {
  @apply h-12 whitespace-nowrap rounded-md px-10 ring
  inline-flex items-center justify-center gap-2
  text-sm font-medium transition-colors
  focus-visible:outline-none focus-visible:ring-1
  disabled:pointer-events-none disabled:opacity-50;
}

@utility zk-btn-primary {
  @apply bg-zk-primary-50 text-zk-primary ring-zk-primary-50
  hover:bg-zk-primary-100
  focus-visible:ring-zk-primary
  dark:text-zk-primary-50
  dark:bg-zk-primary dark:hover:bg-zk-primary-700
  dark:ring-zk-primary
  dark:focus-visible:ring-zk-primary
  contrast-more:text-zk-primary-900 contrast-more:bg-zk-primary-100
  contrast-more:focus-visible:ring-zk-primary-900
  dark:contrast-more:bg-zk-primary-900 dark:contrast-more:ring-zk-primary-900;
}

@utility zk-btn-outline {
  @apply ring-zk-border text-zk-text-secondary bg-zk-surface
  hover:text-zk-text-primary hover:bg-zk-surface-hover
  focus-visible:ring-zk-border-focus
  dark:bg-zk-surface-inverse dark:text-zk-text-inverse-secondary dark:ring-zk-border-inverse
  dark:hover:bg-zk-surface-inverse-hover dark:hover:text-zk-text-inverse
  contrast-more:text-zk-text-primary
  dark:contrast-more:text-zk-text-inverse
  dark:contrast-more:ring-zk-border;
}

@utility zk-rounded-table-corner {
  @apply first:before:absolute first:before:h-full first:before:w-4 first:before:top-0 first:before:-left-4 first:before:group-hover:bg-zinc-50 first:before:sm:rounded-l-xl
      last:before:absolute last:before:h-full last:before:w-4 last:before:top-0 last:before:-right-4 last:before:group-hover:bg-zinc-50 last:before:sm:rounded-r-xl;
}

@utility zk-avatar {
  @apply bg-zk-danger-600 shrink-0 rounded-full uppercase text-white text-xs object-cover
  flex items-center justify-center flex-col font-semibold;
}

@utility zk-avatar-link {
  @apply block rounded-full ring-zk-primary focus-visible:ring-2;
}

@utility zk-input {
  @apply block w-full rounded-lg text-zk-text-primary
  placeholder:text-zk-text-secondary
  sm:text-sm sm:leading-6
  dark:bg-zk-bg-dark dark:text-zk-text-inverse
  dark:placeholder:text-zk-text-inverse-secondary
  dark:contrast-more:text-zk-text-inverse-contrast
  dark:placeholder:contrast-more:text-zk-text-inverse-contrast;
}

@utility zk-input-border {
  @apply border border-zk-border
  focus:border-zk-border-focus focus:ring-0
  dark:border-zk-border-inverse
  dark:contrast-more:border-zk-border;
}

@utility zk-input-border-error {
  @apply border-zk-danger-400 focus:border-zk-danger-500;
}
