@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@source "../../../apps/**/src/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-warning: var(--warning);
  --color-success: var(--success);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.65rem;
  --background: var(--color-white);
  --foreground: var(--color-neutral-950);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-950);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-950);
  --primary: var(--color-blue-100);
  --primary-foreground: var(--color-blue-600);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-neutral-900);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-500);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-neutral-900);
  --destructive: var(--color-pink-100);
  --destructive-foreground: var(--color-pink-600);
  --warning: var(--color-amber-600);
  --success: var(--color-emerald-600);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-200);
  --ring: var(--color-blue-500);
  --chart-1: var(--color-orange-600);
  --chart-2: var(--color-teal-600);
  --chart-3: var(--color-cyan-900);
  --chart-4: var(--color-amber-400);
  --chart-5: var(--color-amber-500);
  --sidebar: var(--color-background);
  --sidebar-foreground: var(--color-foreground);
  --sidebar-primary: var(--color-blue-500);
  --sidebar-primary-foreground: var(--color-blue-50);
  --sidebar-accent: var(--color-neutral-100);
  --sidebar-accent-foreground: var(--color-neutral-900);
  --sidebar-border: var(--color-neutral-200);
  --sidebar-ring: var(--color-blue-500);
}

@media (prefers-color-scheme: light) and (prefers-contrast: more) {
  :root {
    --radius: 0.65rem;
    --background: var(--color-white);
    --foreground: var(--color-black);
    --card: var(--color-white);
    --card-foreground: var(--color-black);
    --popover: var(--color-white);
    --popover-foreground: var(--color-black);
    --primary: var(--color-blue-50);
    --primary-foreground: var(--color-blue-950);
    --secondary: var(--color-neutral-200);
    --secondary-foreground: var(--color-black);
    --muted: var(--color-neutral-200);
    --muted-foreground: var(--color-black);
    --accent: var(--color-neutral-200);
    --accent-foreground: var(--color-black);
    --destructive: var(--color-pink-200);
    --destructive-foreground: var(--color-pink-950);
    --warning: var(--color-amber-800);
    --success: var(--color-emerald-950);
    --border: var(--color-neutral-950);
    --input: var(--color-neutral-950);
    --ring: var(--color-blue-600);
    --chart-1: var(--color-orange-700);
    --chart-2: var(--color-teal-700);
    --chart-3: var(--color-cyan-950);
    --chart-4: var(--color-amber-700);
    --chart-5: var(--color-amber-800);
    --sidebar: var(--color-background);
    --sidebar-foreground: var(--color-foreground);
    --sidebar-primary: var(--color-blue-600);
    --sidebar-primary-foreground: var(--color-white);
    --sidebar-accent: var(--color-neutral-100);
    --sidebar-accent-foreground: var(--color-black);
    --sidebar-border: var(--color-neutral-950);
    --sidebar-ring: var(--color-blue-600);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-neutral-950);
    --foreground: var(--color-neutral-50);
    --card: var(--color-neutral-900);
    --card-foreground: var(--color-neutral-50);
    --popover: var(--color-neutral-900);
    --popover-foreground: var(--color-neutral-50);
    --primary: var(--color-blue-600);
    --primary-foreground: var(--color-blue-200);
    --secondary: var(--color-neutral-800);
    --secondary-foreground: var(--color-neutral-50);
    --muted: var(--color-neutral-800);
    --muted-foreground: var(--color-neutral-400);
    --accent: var(--color-neutral-800);
    --accent-foreground: var(--color-neutral-50);
    --destructive: var(--color-pink-600);
    --destructive-foreground: var(--color-pink-100);
    --warning: var(--color-amber-400);
    --success: var(--color-emerald-400);
    --border: var(--color-neutral-700);
    --input: var(--color-neutral-600);
    --ring: var(--color-blue-700);
    --chart-1: var(--color-blue-700);
    --chart-2: var(--color-emerald-500);
    --chart-3: var(--color-amber-500);
    --chart-4: var(--color-purple-500);
    --chart-5: var(--color-rose-500);
    --sidebar: var(--color-background);
    --sidebar-foreground: var(--color-foreground);
    --sidebar-primary: var(--color-blue-600);
    --sidebar-primary-foreground: var(--color-blue-200);
    --sidebar-accent: var(--color-neutral-800);
    --sidebar-accent-foreground: var(--color-neutral-50);
    --sidebar-border: var(--color-neutral-700);
    --sidebar-ring: var(--color-blue-700);
  }
}

@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
  :root {
    --background: var(--color-black);
    --foreground: var(--color-white);
    --card: var(--color-black);
    --card-foreground: var(--color-white);
    --popover: var(--color-black);
    --popover-foreground: var(--color-white);
    --primary: var(--color-blue-600);
    --primary-foreground: var(--color-white);
    --secondary: var(--color-neutral-700);
    --secondary-foreground: var(--color-white);
    --muted: var(--color-neutral-600);
    --muted-foreground: var(--color-white);
    --accent: var(--color-neutral-700);
    --accent-foreground: var(--color-white);
    --destructive: var(--color-pink-800);
    --destructive-foreground: var(--color-pink-50);
    --warning: var(--color-amber-400);
    --success: var(--color-emerald-400);
    --border: var(--color-neutral-50);
    --input: var(--color-neutral-50);
    --ring: var(--color-blue-600);
    --chart-1: var(--color-blue-500);
    --chart-2: var(--color-emerald-500);
    --chart-3: var(--color-amber-500);
    --chart-4: var(--color-purple-500);
    --chart-5: var(--color-rose-500);
    --sidebar: var(--color-background);
    --sidebar-foreground: var(--color-foreground);
    --sidebar-primary: var(--color-blue-600);
    --sidebar-primary-foreground: var(--color-white);
    --sidebar-accent: var(--color-neutral-700);
    --sidebar-accent-foreground: var(--color-white);
    --sidebar-border: var(--color-neutral-50);
    --sidebar-ring: var(--color-blue-600);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@keyframes breathe {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.3;
  }
}
