.animate-typing {
  animation: typing 1s step-end infinite;
}

.glitch-wrapper {
  position: relative;
  display: inline-flex;
  margin-bottom: 1rem;
}

.glitch {
  position: relative;
  transform: scale3d(1, 1, 1);
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: var(--color-zk-background);
}

.glitch::before {
  left: 2px;
  text-shadow: -1px 0 var(--color-zk-primary-accent);
  animation: glitch-before 2s linear infinite alternate-reverse;
}

.glitch::after {
  left: -2px;
  text-shadow: -1px 0 var(--color-zk-secondary-accent);
  animation: glitch-after 2s linear infinite alternate-reverse;
}

@keyframes typing {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: currentColor;
  }
}

@keyframes glitch-before {
  0% {
    clip-path: inset(20% 0 30% 0);
  }
  20% {
    clip-path: inset(40% 0 60% 0);
  }
  40% {
    clip-path: inset(10% 0 40% 0);
  }
  60% {
    clip-path: inset(50% 0 30% 0);
  }
  80% {
    clip-path: inset(20% 0 50% 0);
  }
  100% {
    clip-path: inset(40% 0 20% 0);
  }
}

@keyframes glitch-after {
  0% {
    clip-path: inset(40% 0 10% 0);
  }
  20% {
    clip-path: inset(20% 0 30% 0);
  }
  40% {
    clip-path: inset(60% 0 30% 0);
  }
  60% {
    clip-path: inset(10% 0 50% 0);
  }
  80% {
    clip-path: inset(30% 0 40% 0);
  }
  100% {
    clip-path: inset(50% 0 60% 0);
  }
}
