PRODUCT_BUNDLE_IDENTIFIER = com.zoonk.dev
GOOGLE_IOS_CLIENT_ID = 435450998434-jr43cdf8s72g9mkpqe8smh8dclqaqtq2.apps.googleusercontent.com
GOOGLE_REVERSED_IOS_CLIENT_ID = com.googleusercontent.apps.435450998434-jr43cdf8s72g9mkpqe8smh8dclqaqtq2
GOOGLE_SERVER_CLIENT_ID = 435450998434-jhj2skfq5b089dkjrth5dvo1bhujfp3h.apps.googleusercontent.com
ZOONK_DEVELOPMENT_API_BASE_URL = http:/$()/localhost:4000
#include? "Local.xcconfig"
