name: Run tests and check code quality

on: push

env:
  MIX_ENV: test
  OTP_VERSION: 27.2.2
  ELIXIR_VERSION: 1.18.2

permissions:
  contents: read
  security-events: write

jobs:
  code-quality:
    runs-on: ubuntu-latest

    services:
      db:
        image: postgres:17
        ports: ["5432:5432"]
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Set up Elixir
        id: beam
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{env.ELIXIR_VERSION}}
          otp-version: ${{env.OTP_VERSION}}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Restore dependencies cache
        id: cache-deps
        uses: actions/cache@v4
        env:
          cache-name: cache-elixir-deps
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ env.cache-name }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-${{ env.cache-name }}-

      - name: Restore build cache
        id: cache-build
        uses: actions/cache@v4
        env:
          cache-name: cache-compiled-build
        with:
          path: _build
          key: ${{ runner.os }}-mix-${{ env.cache-name }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-${{ env.cache-name }}-
            ${{ runner.os }}-mix-

      - name: Set Up Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: mix deps.get
        shell: bash

      - name: Compile app
        run: mix compile --all-warnings --warnings-as-errors

      - name: Check for transitive compilation dependencies
        run: mix xref graph --label compile-connected --fail-above 0 --exclude lib/zoonk/vault/binary.ex

      - name: Check Elixir formatter
        run: mix format --check-formatted

      - name: Check Prettier formatter
        run: bunx prettier . --check

      - name: Lint
        run: mix credo --strict

      - name: Scan security vulnerabilities
        run: mix sobelow --config

      - name: Check unused dependencies
        run: mix deps.unlock --check-unused

      - name: Audit dependencies
        run: mix deps.audit

      - name: Scan retired dependencies
        run: mix hex.audit

      - name: Run tests
        run: mix test
